@model BB2020MVC.Models.Rules_Skills_List

@{
    ViewBag.Title = "Delete " + Model.Name;
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
    Please note: this will affect all Races that has this Skill!
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ID)
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |

            @Html.ActionLink("Back to List", "AllSpecialRules")
        </div>
    }
</div>
